<!-- views/contact.ejs -->
<div class="form-header">
    <h2>Send us a message</h2>
  </div>
<form method="post" action="/createBot" novalidate>
    <div class="form-field">
     <label for="botName">Bot Name</label>
        <input class="input" id="botName" name="botName"></input>
        </div>
    <div class="form-field">
        <label for="token">Token</label>
        <input class="input" id="token" name="token" />
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
</form>